@font-face {
  font-family: 'BigBlueTerminal';
  src: url('./fonts/BigBlueTerm437NerdFontPropo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.container {
    display: flex;
    flex-direction: column;
    /* max-height: 80vh; */
}

.contentContainer {
    display: flex;
    height: 70vh;
    min-height: 70vh;
    overflow: visible;
    max-height: 60vh;
}

.side {
  /* Outer container – allows horizontal overflow */
  max-width: 25vh;
  max-height: 70vh;
  font-family: 'BigBlueTerminal', sans-serif;
  color: rgb(89, 233, 255);
  white-space: pre;
  overflow: visible; /* Allow elements to overflow horizontally */
  position: relative; /* If needed for positioning absolute children */
}

/* Inner container that actually scrolls vertically */
.sideScroll {
    display: flex;
    overflow-y: scroll; /* Enable vertical scrolling */
    overflow-x: visible; /* Clip horizontal overflow if needed here */
    max-height: 70vh; /* Or whatever height you want */
    min-width: 50vh;
    padding-right: 20px;
  /* Optionally, add padding/margin so the scrollbar doesn't cover your content */
}


.main {
    flex: 1;
    margin-bottom: 5px;
    max-width: 80vh;
    z-index: 99;
    position: relative;
    overflow: visible;
}

.terminalContainer {
    
}
 
