.container {
    display: flex;
    flex-direction: column;
    /* max-height: 80vh; */
}

.contentContainer {
    display: flex;
    border-bottom: 1px solid #bbbbbb;
    height: 69vh;
    /* min-height: 65vh; */
    /* order-right: 1px solid #bbbbbb; */
    font-family:sans-serif;
    color: rgb(89, 233, 255);
    /* max-width: 25vw; */
}

.side {
    flex: 0 0 20%;
    border-right: 1px solid #bbbbbb;
    font-family:sans-serif;
    color: rgb(89, 233, 255);
    width: 20vw;
}

.main {
    flex: 1;
}

.terminalContainer {
    /* max-height: 35vh; */
}
