@font-face {
  font-family: 'BigBlueTerminal';
  src: url('./fonts/BigBlueTerm437NerdFontPropo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.container {
    display: flex;
    flex-direction: column;
    /* max-height: 80vh; */
}

.contentContainer {
    display: flex;
    border-bottom: 1px solid #bbbbbb;
    height: 70vh;
    min-height: 70vh;
    flex-direction: row;
    overflow-y: auto;
    overflow-x: visible;
    max-height: 100%;
    white-space: pre;
}

.side {
    flex: 0 0 200px;
    border-right: 1px solid #bbbbbb;
    font-family: 'BigBlueTerminal', sans-serif;
    color: rgb(89, 233, 255); 
    max-width: 23vw;
}

.main {
    flex: 1;
}

.terminalContainer {
    /* max-height: 35vh; */
}
