@font-face {
  font-family: 'BigBlueTerminal';
  src: url('./fonts/BigBlueTerm437NerdFontMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.panelContainer {
    height: 100%;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    font-family: 'BigBlueTerminal', sans-serif;
    font-size: larger;
    /* padding: 16px 12px; */
    font-weight: bold;
    border-bottom: solid 2px #bbbbbb;
    height: 3.2rem;
}

.repoText {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.tabsContainer {
    /* height: 100%; */
    display: flex;
    justify-content: space-around;
    /* gap: 20px; */
}

.tab {
    /* border: 2px solid #bbbbbb; */
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-left: 1px solid #bbbbbb;
    border-right: 1px solid #bbbbbb;
}

.activeTab {
    background-color: rgb(26, 34, 49);
}
