@font-face {
  font-family: 'BigBlueTerminal';
  src: url('./fonts/BigBlueTerm437NerdFontMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@keyframes pulsateOpen {
  0% {
    background-color: #225435;
  }
  50% {
    background-color: #327d4e;
  }
  100% {
    background-color: #225435;
  }
}

@keyframes pulsateClosed {
  0% {
    background-color: #542228;
  }
  50% {
    background-color: #753038;
  }
  100% {
    background-color: #542228;
  }
}

.openPullRequest {
    font-family: 'BigBlueTerminal', sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    background-color: #225435;
}

.openPullRequest:hover {
    animation: pulsateOpen 1s linear infinite;
    background-color: #327d4e;
    scale: 1.01;
}

.closedPullRequest {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    font-family: 'BigBlueTerminal', sans-serif;
    background-color: #542228;
}

.closedPullRequest:hover {
    animation: pulsateClosed 1s linear infinite;
    background-color: #753038;
    scale: 1.01;
}

.pullRequestContainer {
    overflow-y: scroll;
    height: 63vh;
}
