@font-face {
  font-family: 'BigBlueTerminal';
  src: url('./fonts/BigBlueTerm437NerdFontMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.openPullRequest {
    font-family: 'BigBlueTerminal', sans-serif;
    margin-top: 10px;
    padding: 5px;
    background-color: #225435;
}

.openPullRequest:hover {
    background-color: #327d4e;
}

.closedPullRequest {
    margin-top: 10px;
    padding: 5px;
    font-family: 'BigBlueTerminal', sans-serif;
    background-color: #542228;
}

.closedPullRequest:hover {
    background-color: #753038;
}

.pullRequestContainer {
}
