@keyframes pulsate {
  0% {
    transform: scale(1);
    color: #33ff33;
  }
  50% {
    transform: scale(1.05);
    color: #ffffff;
  }
  100% {
    transform: scale(1);
    color: #33ff33;
  }
}

.repoNameContainer {
    cursor: pointer;
}

.repoNameWrapper {
    display: flex;
    transform: translateX(0);
    margin: 4px;
}

.repoName {
    font-weight: semi-bold;
    font-size: 20px;
    margin: 4px;
}

.repoName:hover {
    cursor: pointer;
}

.repoCardContainer{
    border: 1px rgb(141, 242, 255) solid;
    padding: 12px;
    padding-bottom: 14px;
    overflow: hidden;
    max-width: 20vh;
    background-color: rgb(15, 17, 25);
}

.repoCardContainer:hover{
    animation: pulsate 2s linear infinite;
    overflow: visible;
    background-color: rgb(15, 17, 25);
    max-width: 100vh;
}
