@keyframes pulsate {
  0% {
    transform: scale(1);
    color: #33ff33;
  }
  50% {
    transform: scale(1.05);
    color: #ffffff;
  }
  100% {
    transform: scale(1);
    color: #33ff33;
  }
}
n
.repoNameContainer {
    cursor: pointer;
    max-width: 50%;
}

.repoNameWrapper {
    display: flex;
    margin: 4px;
    max-width: 100%;
    overflow: hidden;
}

.repoInfoWrapper {
    max-width: 100%;
}

.repoName {
    font-weight: semi-bold;
    font-size: 20px;
    margin: 4px;
}

.repoName:hover {
    cursor: pointer;
}

.repoCardContainer{
    border: rgb(141, 242, 255) 3px solid;
    padding: 8px;
    padding-bottom: 14px;
    overflow: hidden;
    max-width: 22.7vh;
    background-color: rgb(15, 17, 25);
    color: rgb(141, 242, 255);
}

.repoCardContainer:hover{
    animation: pulsate 2s linear infinite;
    overflow: visible;
    background-color: rgb(15, 17, 25);
    max-width: 100vh;
    transition-duration: 1s;
    transition-property: max-width;
}
