.panelContainer {
    display: flex;
    flex-direction: column; /* Stack header and content vertically */
    height: 100%;
}

.headerContainer{
    text-decoration: underline;
    font-size: larger;
    padding: 16px 13px;
    font-weight: bold;
    border-bottom: solid 1px #bbbbbb;
    height: 3.5rem;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x:hidden;
    overflow-wrap: break-word;
    max-height: 100%;
}
