 @keyframes slideUp {
    from {
	transform: translateY(100px);
	opacity: 0;
    }
    to {
	transform: translateY(0);
	oapcity: 1;
    }
}

.terminalContainer {
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    /* height: fit-content; */
    font-family: monospace;
    color: rgb(141, 242, 255);
    max-height: 28vh;
    overflow-y: none;
    z-index: 0;
}

.outputContainer {
    display: flex;
    flex-direction: column-reverse;
    flex: 1;
    overflow-y: auto;
    min-height: 16em;
}

.output {
    padding: 4px;
    margin: 0;
}

.inputContainer {
    /* flex: 1; */
    position: relative;
    display: flex;
    align-items: center;
    /* width: 100%; */
    padding: 12px 16px;
    border-top: 1px solid #bbbbbb;
    background-color: rgb(40, 60, 75);
    z-index: 100;
}

.input {
    flex: 1;
    /* width: 100%; */
    /* width: auto; */
    background-color: transparent;
    border: none;
    font-family: inherit;
    font-size: 1rem;
    outline: none;
    color: inherit;
    padding-bottom: 8px;

    position: relative;
    z-index: 100;
}

.prefix {
    color: #33ff33;
    margin-right: 8px;
    user-select: none;
    font-size: 1rem;
    padding-bottom: 8px;
}

.commandMenu {
    position: absolute;
    background-color: rgb(40, 60, 75);
    bottom: 100%;
    left: 0;
    width: fit-content;
    border: 1px solid #fff;
    border-radius: 4px 4px 0px 0px;
    padding-right: 10px;
    z-index: 1;
    animation: slideUp 0.3s ease-out;
}
